            <!-- main -->
            <div class="main">
                <span class="shadow-top"></span>
                <!-- shell -->
                <div class="shell">
                    <!-- container -->
                    <div class="container">
                        <!-- testimonial -->
                        <section class="testimonial">
                            <!-- Form Substitution -->
                            <div><@:CONTENT:@></div>
                            <!-- Form Substitution -->
                        </section>
                        <!-- testimonial -->
                    </div>
                    <!-- end of container -->
                </div>
                <!-- end of shell -->
            </div>
            <!-- end of main -->
