            <!-- main -->
            <div class='main'>
                <span class='shadow-top'></span>
                <!-- shell -->
                <div class='shell'>
                    <!-- container -->
                    <div class='container'>
                        <!-- testimonial -->
                        <section class='testimonial'>
                            <!-- content -->
                            <div id='form-content'>
							    <form id='login' name='login' method='POST' action='main.ant?c=proc'>

									<!-- form -->
								    <div id='form'>
									    <div id='form-left' class='left-col'>
										    <@:LOGINFORM:@>
																	
										</div>
										<div id='form-center'>
											<div class='or-line'></div>
											<div class='or-label'>OR</div>
										</div>
										<div id='form-right' class='right-col'>
										    <@:SOCIALBUTTONS:@>
										</div>
										<div class='clear'></div>
										
									</div>
                                    <div id='tos_div'>
                                        <@:TERMSANDCONDITIONS:@>
                                    </div>
									<!-- end of form -->
								</form>
					        </div>
                            <!-- end of content -->
                        </section>
                        <!-- testimonial -->
                    </div>
                    <!-- end of container -->
                </div>
                <!-- end of shell -->
            </div>
            <!-- end of main -->
